:root{
  --mainBlue: #006BD6;
  --lightBlue: #3482D1;
  --navGray: #2A2525;
  --textGray: #707070;
  --tradeGreen: #346E27;
  --mainWhite: #ffffff;
}

body{
  font-family: 'Ebrima' !important;
  background: var(--mainWhite) !important;
  color: var(--textGray) !important;
  font-size: 14px !important;
}

.category-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
}

.category-item{
  display: block;
  padding: 2px 12px;
  text-decoration: none;
}

.text-title {
  color: var(--mainBlue);
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: -2px;
}

.text-sub-title {
  color: var(--mainBlue);
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 3px;
}

.text-new-ad {
  color: var(--mainWhite);
  font-size: 18px;
}

.text-new-ad:hover {
  color: var(--mainWhite);
}

.text-category-title {
  color: var(--lightBlue);
  font-size: 14px !important;
  font-weight: bold !important;
}

.text-ad-title {
  font-size: 16px !important;
  color: var(--lightBlue);
}

.text-premium{
  color: var(--lightBlue)
}

.login-header{
  color: var(--mainBlue);
  font-size: 24px;
}

.text-trade{
  color: var(--tradeGreen);
  float: right;
  
}

.text-link{
  color: var(--mainWhite) !important;
}

.logo{
  width: 55px;
}

.nav-back{
  background: var(--navGray)
}

.search {
  width:350px !important;
}

.brand {
  margin-bottom: 4px;
  font-size: 20px;
}

.bold {
  font-weight: bold;
}

.details-list{
  width: 300px;
  float: right;
}

.center-item {
  text-align: right;
}

.large-text {
  font-size: 16px;
}

.login-border {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.offer-accept {
  color: var(--textGray);
}

.offer-accept:hover {
  color: #44CF6C;
}

.accepted {
  color: #44CF6C
}

.offer-reject {
  color: var(--textGray);
}

.offer-reject:hover {
  color: #841C26;
}

.rejected {
  color: #841C26
}

.modal-style{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}