:root{
  --mainBlue: #006BD6;
  --lightBlue: #3482D1;
  --navGray: #2A2525;
  --textGray: #707070;
  --tradeGreen: #346E27;
  --mainWhite: #ffffff;
}

body{
  font-family: 'Ebrima' !important;
  background: var(--mainWhite) !important;
  color: var(--textGray) !important;
  font-size: 16px !important;
}

.text-title {
  color: var(--mainBlue);
  font-size: 24px;
}

.text-new-ad {
  color: var(--mainWhite);
  font-size: 18px;
}

.text-category-title {
  color: var(--mainBlue);
  font-size: 18px;
  font-weight: bold;
}

.text-premium{
  color: var(--lightBlue)
}

.text-trade{
  color: var(--tradeGreen)
}

.text-link{
  color: var(--mainWhite) !important;
}

.logo{
  width: 52px;
}

.nav-back{
  background: var(--navGray)
}